@import "config/*";
@import "base/typography";

html {
  font-size: 10px;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  .frame-content {
    margin: 0 auto;
    padding: 3rem;
    width: 100%;
    max-width: 80rem;
    > div {
      font-size: 1.5rem;
      line-height: 2.3rem;
      color: $body-font-color;
      font-family: "Lato", sans-serif;
      -webkit-font-smoothing: antialiased;

      .nc-widgetPreview {

        h1,
        h2 {
          font-family: "Source Sans Pro", sans-serif;
          -webkit-font-smoothing: antialiased;
          font-weight: 300;
        }

        h1 {
          margin: 0 0 3rem;
          font-size: 6rem;
          line-height: 6rem;
          color: $heading-font-color;
        }

        h2 {
          margin: 0 0 1.6rem;
          font-size: 3.8rem;
          line-height: 3.8rem;
        }

        h3 {
          margin: 3.2rem 0 1.6rem;
          font-family: "Source Sans Pro", sans-serif;
          color: $heading-font-color;
          font-size: 2.4rem;
          line-height: 2.5rem;
          font-weight: 600;
        }

        h4 {
          margin: 2rem 0 0.5rem;
          color: $heading-font-color;
          font-size: 2rem;
          line-height: 2.4rem;
          font-weight: 600;
        }

        p {
          margin: 0 0 1.6rem;
          &.introduction {
            font-size: 1.8rem;
            line-height: 2.8rem;
          }

          em {
            color: black;
          }
        }

        strong {
          font-weight: 600;
          color: darken($body-font-color, 15);
        }

        a {
          color: $link-color;
          text-decoration: none;
          outline: 0;
          &:focus {
            outline: 0;
          }
        }

        blockquote {
          margin: 2rem 0;
          padding-left: 3rem;
          border-left: 0.3rem solid $taxology-primary;
          font-style: italic;
          color: $taxology-secondary;

          em {
            display: block;
            margin-top: 2rem;
            font-style: normal;
            color: darken($taxology-secondary, 15);
            strong {
              display: block;
              color: darken($taxology-secondary, 15);
            }
          }
        }

        img {
          max-width: 100%;
        }
      }
    }
  }
}
