%footer#contact{role: "contentinfo"}
  .container

    %a.back-to-top.scroll-to{ href: "#top" }
      back to top

    .contact-details
      %h2 Contact

      %p
        %img( src="/images/phone.svg" )
        +31 10 764 0827
        %br
        %img( src="/images/mail.svg" )
        %a( href="mailto:info@taxology.nl" )
          info@taxology.nl


      %p
        %span Taxology BV
        %br
        Blaak 34
        %br
        3011 TA Rotterdam
        %br
        The Netherlands

    .terms-of-use
      %h2 Legal

      %p
        %a( href="/privacy-policy/" )
          Privacy policy
        -# %br
        -# %a( href="/terms-and-conditions/" )
        -#   Terms and conditions
        %br
        %a( href="/security-policy/" )
          Security policy
        %br
        %a( href="/documents/Taxology terms and conditions.pdf" )
          Terms and conditions

    .social
      %h2 Social

      %a( href="https://www.linkedin.com/company/taxologyprotocol/" target="_blank" )
        %img( src="/images/linkedin.svg")

    .copyright
      %img{ src: "/images/logos/taxology-white.svg", alt: "Taxology: The Future of Tax" }
      %span &copy; #{Time.now.year}
