%header#top{role: "banner"}
  = partial "partials/navigation", locals: { current_page: current_page }
  .container
    - if current_page == "home"
      .content
        %h1
          Meet our WHT recovery tool: <strong>Protocol</strong>
        %p.subtitle
          Protocol intuitively guides you through automated global withholding tax recovery for pension funds.
        %a.button.button-protocol-primary{ href: "/protocol/" }
          Read more about Protocol
        %a.video-link{ href: "#video" }
          .play-button
          %img.browser{ src: "/images/protocol-browser.png", alt: "Protocol: withholding tax recovery" }

    - elsif current_page == "protocol"
      .content
        %img.header-logo{ src: "/images/logos/protocol-white.svg", alt: "Protocol: Automated WHT recovery" }
        %p.subtitle
          Intuitively guides you through automated global withholding tax (“WHT”) recovery for pension funds.

        %a.video-link{ href: "#video" }
          .play-button
          %img.browser{ src: "/images/protocol-browser.png", alt: "Protocol: withholding tax recovery" }
