.feature.feature-1
  .left-column
    .feature-content

      .number
        %img( src="/images/number-1.svg" )

      %h3
        Add pool participations
        %span.info
          (optional)
      %p
        Pool participation ownership data (excel / csv) is uploaded into Protocol.  This can be done on a monthly or even daily change in ownership basis.

      %p.background-info
        In the background…

      %ul.background-info
        %li
          Protocol rewrites and verifies the pool data to create a file that is tax compliant and compatible with all dividend data

      -# %a.info.inline-link{ href: "#feature-1" }
      -#   In depth information

      -# // Popup contents
      -# #feature-1.popup.mfp-hide

      -#   .number
      -#     %img( src="/images/number-1.svg" )
      -#   %h3
      -#     Add pool participations

      -#   %p
      -#     Raw dividend data is uploaded into and verified by Protocol, either as an excel or csv file.
      -#     In case of pooled investments, pool participation ownership data is uploaded into and verified by Protocol. This can be done on a monthly or even daily change in ownership basis.
      -#   %p
      -#     Protocol will automatically apply dividend data sheets against pool participations ownership data, and calculate the WHT recovery entitlement for each participant it a pool.

  .right-column
    .feature-image
      %img( src="/images/feature-1.svg" )
.shadow-divider

.feature.feature-2
  .right-column
    .feature-content

      .number
        %img( src="/images/number-2.svg" )

      %h3
        Import dividend data

      %p
        Dividend data (excel / csv) is uploaded into Protocol.  Not all dividend data sheets are formatted equally, therefore Protocol will try to match the headers from the datasheet. If the headers don’t match up you can manually assign them to your datasheet.

      %p.background-info
        In the background…

      %ul.background-info
        %li
          Protocol learns and stores any manual changes for a next import to speed up the import process
        %li
          Protocol applies and calculates dividend data sheets against pool participations ownership

      %a.info.inline-link{ href: "#feature-2" }
        In depth information

      // Popup contents
      #feature-2.popup.mfp-hide

        .number
          %img( src="/images/number-2.svg" )
        %h3
          Import dividend data

        %p
          Dividend data (excel / csv) is uploaded into Protocol. Protocol will then determine the best possible WHT recovery claim. In doing so, it will verify various legal basis for a refund of WHT, such as the relevant bilateral tax treaty, the EU treaty, the concept of sovereign immunity etc.

        %p
          Next, Protocol will compare the WHT that has been applied by the custodian against its analysis of the best possible WHT recovery claim. If the comparison concludes that a refund can be obtained over and above what the custodian has applied, Protocol will propose to file a(n) (additional) WHT refund claim, and – in the case of pooled investments – provide a breakdown of the claim amount per pool participant.
  .left-column
    .feature-image
      %a.image-link{ href: '/images/feature-2.jpg' }
        %img( src="/images/feature-2.jpg" )

.shadow-divider

.feature.feature-3
  .left-column
    .feature-content

      .number
        %img( src="/images/number-3.svg" )

      %h3
        Select claim country and claim year

      %p
        Protocol will generate a claim overview after a succesful import of dividend data. This overview shows which countries  have refundable WHT based on the imported data. The overview also shows already claimed taxes and submission deadlines.

      %p.background-info
        In the background…

      %ul.background-info
        %li
          Protocol has already created compliant documents and datasheets for the tax author

      %a.info.inline-link{ href: "#feature-3" }
        In depth information

      // Popup contents
      #feature-3.popup.inline-popup.mfp-hide

        .number
          %img( src="/images/number-3.svg" )
        %h3
          Select claim country and claim year

        %p
          Protocol will generate a claim overview after a succesful import of dividend data. This overview shows which countries  have refundable WHT based on the imported data. The overview also shows already claimed taxes and submission deadlines.

        %p
          When a proposal for a WHT recovery claim is accepted, Protocol will generate a standardized WHT refund request letter, which will automatically be addressed to the authorized tax administration in the relevant claim country.
        %p
          Protocol will take the variable data from the preceding steps, and insert them into the standardized claim letter. Variable data are, among others, claim year, source country, name of claimants, refund amounts, and a reference to and description of the applicable legal basis for the claim.

  .right-column
    .feature-image
      %a.image-link{ href: '/images/feature-3.jpg' }
        %img( src="/images/feature-3.jpg" )

.shadow-divider

.feature.feature-4
  .right-column
    .feature-content

      .number
        %img( src="/images/number-4.svg" )

      %h3
        Submit claim

      %p
        Protocol will inform you which documentation is required to complete the refund claim. When the documentation is complete the claim is ready to submit and Protocol will show you a summery. Pressing submit will initiate the claim and store all files in the cloud.

      %p.background-info
        In the background…

      %ul.background-info
        %li
          Protocol learns and stores any permanent fields for a next import to speed up the import process

      %a.info.inline-link{ href: "#feature-4" }
        In depth information

      // Popup contents
      #feature-4.popup.mfp-hide

        .number
          %img( src="/images/number-4.svg" )
        %h3
          Submit claim

        %p
          In the next step, Protocol will inform you which documentation (e.g. refund form, proof of payment, tax residence certificate) is required to complete the refund claim in the relevant claim country, and will assist you in filling out and uploading that documentation. Permanent fields in the documentation and manual changes to the documentation can be stored to speed up the process for the next claim.

        %p
          After uploading the requisite refund documentation, Protocol will show a summary of the claim prepared, including documents created by Protocol, and the accompanying documents which have been uploaded. If preferred, the claim letter and documentation can be briefly reviewed before submitting.

        %p
          Next, a back-up of the claim letter and documentation and can be stored on the user’s own server with the push of a button. By default, however, all claim letters and documents will be stored in the cloud. Finally, the claim letter and documentation can  be submitted by clicking on the submit button.

  .left-column
    .feature-image
      %a.image-link{ href: '/images/feature-4.jpg' }
        %img( src="/images/feature-4.jpg" )

