.feature.feature-1
  .left-column
    .feature-content

      .number
        %img( src="/images/number-1.svg" )

      %h3
        Import pool participations
        %span.info
          (optional)
      %p
        Pool participation ownership data (excel / csv) is uploaded into Protocol.  This can be done on a monthly or even daily change in ownership basis.

      %p.background-info
        In the background…

      %ul.background-info
        %li
          Protocol rewrites and verifies the pool data to create a file that is tax compliant and compatible with all dividend data

      %a.info.inline-link{ href: "#feature-1" }
        In depth information

      // Popup contents
      #feature-1.popup.mfp-hide

        .number
          %img( src="/images/number-1.svg" )
        %h3
          Import pool participations

        %p.introduction
          If investments are pooled, pool participation data (excel / csv) is uploaded into Protocol in order to determine each pool participant’s pro rata share in dividends received by the pools. This can be done on a monthly or even daily change in ownership basis.
        %p
          Not all pool participation data is formatted equally. Therefore Protocol will match the headers from the pool participation data with its own template. If the headers don’t match, you can manually assign them to your pool participation data sheet. Protocol learns and stores any manual changes for a next pool participation import to speed up the import process.
        %p
          Protocol rewrites and verifies the pool participation data to create a file that is tax compliant and compatible with all dividend data.
        %p
          Protocol’s data analysis filters out mathematical errors, such as negative pool ownerships, pool ownerships that add up to ]more, or less, than 100% on any given date.


  .right-column
    .feature-image
      %img( src="/images/feature-1.svg" )
.shadow-divider

.feature.feature-2
  .right-column
    .feature-content

      .number
        %img( src="/images/number-2.svg" )

      %h3
        Import dividend data

      %p
        Dividend data (excel / csv) is uploaded into Protocol. Not all dividend data sheets are formatted equally, therefore Protocol will try to match the headers from the datasheet.

      %p.background-info
        In the background…

      %ul.background-info
        %li
          Protocol learns and stores any manual changes for a next import to speed up the import process
        %li
          Protocol applies and calculates dividend data sheets against pool participations ownership

      %a.info.inline-link{ href: "#feature-2" }
        In depth information

      // Popup contents
      #feature-2.popup.mfp-hide

        .number
          %img( src="/images/number-2.svg" )
        %h3
          Import dividend data

        %p.introduction
          Dividend data (excel / csv) is uploaded into Protocol, sorted by claim country and claim year
        %p
          As not all dividend data sheets are formatted equally, Protocol will match the headers from the dividend data sheet with its own template. If the headers don’t match, you can manually assign them to your data sheet. Protocol learns and stores any manual changes for a next dividend data import to speed up the import process.
        %p
          Protocol’s data analysis filters out errors, for example if share quantity x gross dividend per share does not equal gross dividend amount.
        %p
          Protocol automatically converts foreign currency dividends to the source country’s currency prevailing on the pay date, and verifies whether each dividend is correctly backed by dividend vouchers (a.k.a. proof of final distribution).
        %p
          If investments are pooled, Protocol applies the dividend data against the pool participations and calculates the unclaimed WHT for each pool participant.
  .left-column
    .feature-image
      %a.image-link{ href: '/images/feature-2.jpg' }
        %img( src="/images/feature-2.jpg" )

.shadow-divider

.feature.feature-3
  .left-column
    .feature-content

      .number
        %img( src="/images/number-3.svg" )

      %h3
        Tax analysis

      %p
        After every dividend data import, Protocol will determine the highest possible WHT recovery claim in the relevant claim country.

      %p.background-info
        In the background…

      %ul.background-info
        %li
          Protocol will compare the unrecovered WHT in the dividend data sheets against its analysis of the highest possible WHT recovery claim. In this step, Protocol checks what WHT reduction or recovery has already been applied (e.g. by the custodian).

      %a.info.inline-link{ href: "#feature-3" }
        In depth information

      // Popup contents
      #feature-3.popup.inline-popup.mfp-hide

        .number
          %img( src="/images/number-3.svg" )
        %h3
          Tax analysis

        %p.introduction
          After every dividend data import, Protocol will determine the highest possible WHT recovery claim in the relevant claim country. In doing so, it will analyze various possible legal bases for a refund of WHT, such as the applicable bilateral tax treaty, the EU treaty, domestic law, etc.
        %p
          Simultaneously, Protocol will compare the unrecovered WHT in the dividend data sheets against its analysis of the highest possible WHT recovery claim. In this step, Protocol checks what WHT reduction or recovery has already been applied (e.g. by the custodian).
        %p
          If Protocol concludes that a (further) refund of unrecovered WHT can be obtained, it will propose to file a WHT refund claim, and – in the case of pooled investments – provide an exact breakdown of the claim amount per participant.
        %p
          Every successful import of dividend data, will show in Protocol’s tax analysis overview. This overview shows, per year and per country, how much WHT can be reclaimed based on Protocol’s analysis of the imported data.
          The overview also shows WHT already claimed, and claim filing deadlines.


  .right-column
    .feature-image
      %a.image-link{ href: '/images/feature-3.jpg' }
        %img( src="/images/feature-3.jpg" )

.shadow-divider

.feature.feature-4
  .right-column
    .feature-content

      .number
        %img( src="/images/number-4.svg" )

      %h3
        Submitting a claim

      %p
        When a WHT recovery claim is selected from the tax analysis overview, Protocol will guide you through the process of completing the claim to meet the claim country’s procedural requirements and submitting the claim.

      %p.background-info
        In the background…

      %ul.background-info
        %li
          Protocol will generate the requisite claim information and documentation

      %a.info.inline-link{ href: "#feature-4" }
        In depth information

      // Popup contents
      #feature-4.popup.mfp-hide

        .number
          %img( src="/images/number-4.svg" )
        %h3
          Submitting a claim

        %p.introduction
          When a WHT recovery claim is selected from the tax analysis overview, Protocol will guide you through the process of completing the claim to meet the claim country’s procedural requirements and submitting the claim.
        %h4
          Automated filing
        %p
          Protocol knows the applicable refund procedure and documentation requirements of each claim country. In claim countries which support electronic filing of refund claims (e.g. the Netherlands, Denmark) the claim will be filed electronically after clicking on the submit claim button, and the claim and supporting documentation will automatically be stored in the WHT position overview. Protocol is automatically updated for any electronic response from the tax administration.
        %h4
          Manual filing
        %p
          In claim countries which do not (yet) support electronic filing , Protocol will generate the requisite claim information and documentation (including a standardized refund request letter addressed to the authorized tax office in the claim country, and automatic pre-filled official refund request forms applied by the claim country) and may ask to upload certain documents like certificates of residence.
        %p
          Next, the complete claim can be printed and filed by clicking on the submit claim button. The claim and supporting documentation will automatically be stored in the WHT position overview.

  .left-column
    .feature-image
      %a.image-link{ href: '/images/feature-4.jpg' }
        %img( src="/images/feature-4.jpg" )

