body > footer {
  padding: 6rem 0 4rem;
  color: white;
  background: $footer-color;
  @include clearfix;

  .container {
    position: relative;

    .contact-details {
      img {
        position: relative;
        top: 5px;
        margin-right: 4px;
      }
      p > span {
        font-size: 1.8rem;
      }
    }

    @include desktop {
      .contact-details {
        float: left;
        margin-right: 8rem;
      }
    }

    h2 {
      font-size: 2.4rem;
      text-align: left;
    }

    h4 {
      color: white;
      margin-bottom: 0;
    }

    a {
      color: white;
      font-weight: bold;
    }

    a.back-to-top {
      display: inline-block;
      margin-bottom: 2rem;
      padding-right: 2rem;
      color: white;
      background: url("/images/icon-up.svg") no-repeat center right;
      font-weight: 600;
      @include desktop {
        position: absolute;
        top: 0;
        right: 4rem;
      }
    }

    .copyright {
      position: relative;
      margin-top: 5rem;
      width: 14rem;
      font-size: 1.4rem;
      text-transform: uppercase;
      text-align: right;
      letter-spacing: 0.1rem;
      color: $footer-font-color;
      @include desktop {
        position: absolute;
        right: 4rem;
        bottom: 0;
      }

      img {
        display: block;
        margin-bottom: -0.5rem;
        width: 100%;
      }

      span {
        position: absolute;
        top: 2.5rem;
        right: 4rem;
        font-size: 1.2rem;
      }
    }
  }
}
