body > header nav {
  font-weight: 600;
}

@include smartphone {
  body > header nav {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    display: block;
    padding: 8rem 4rem 4rem;
    width: 100%;
    background: #222;
    font-size: 2.5rem;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    &:before {
      content: '';
      position: fixed;
      top: 4rem;
      display: block;
      width: 2rem;
      height: 2rem;
      background: url("/images/hamburger-icon.svg") no-repeat top right;
      transform: translateX(-450%);
      transition: transform 0.3s ease-in-out;
    }
    &.active {
      transform: translateX(0);
      &:before {
        transform: translateX(0);
      }
    }


    .logo {
      float: none;
    }

    ul {
      margin: 0;
      padding: 0;
      li {
        margin: 2.5rem 0;
      }
    }
  }
}

@include desktop {
  body > header nav {
    ul {
      float: right;
      list-style: none;

      li {
        display: inline-block;
        margin-left: 3rem;
        font-size: 1.8rem;
        font-weight: 600;
        text-transform: lowercase;
      }
    }
  }
}
