article > section {
  padding: 8rem 0;
  &#about-protocol {
    background-color: #F3F6F9;
    background-image: radial-gradient(50% -20%,100% 100%, #FFFFFF 0%, #EDF1F6 100%);

    .container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      h2 {
        width: 100%;
        text-align: left;
      }

      section {
        width: 45%;
        @include smartphone {
          width: 100%;
        }

        p {
          margin: 0 auto 2rem;
        }

        h2 {
          margin-left: auto;
          margin-right: auto;
          text-align: left;
        }

        h4 {
          margin: 0 auto 1rem;
        }
      }
    }
  }
  &#features {
    header p {
      max-width: 57rem;
    }
  }
  &#request-demo {
    border-top: 0.2rem solid $protocol-green;
    color: white;
    background-color: #394A5C;
    background-image: radial-gradient(50% 10%,50% 80%, #486784 5%, #394A5C 100%);

    strong {
      color: white;
    }
  }
  &#assurance {
    background-color: #F3F6F9;
    background-image: radial-gradient(50% -20%,100% 100%, #FFFFFF 0%, #EDF1F6 100%);
  }

  header {
    max-width: 60rem;
    margin: 0 auto 5rem;
    font-size: 1.8rem;
    line-height: 2.5rem;
    text-align: center;
  }
}
