article > section {
  padding: 8% 0;
  @include smartphone {
    padding: 6rem 0;
  }
  &#request-demo {
    border-top: 0.2rem solid $taxology-primary;
    color: white;
    background-color: #394A5C;
    background-image: radial-gradient(50% 10%,50% 80%, #486784 5%, #394A5C 100%);

    strong {
      color: white;
    }
  }

  header {
    max-width: 60rem;
    margin: 0 auto 5rem;
    font-size: 1.8rem;
    line-height: 2.5rem;
    text-align: center;
  }
}
