article > section {
  padding: 8% 0;
  @include smartphone {
    padding: 6rem 0;
  }
  &#request-demo {
    border-top: 0.2rem solid $taxology-primary;
    color: white;
    background-color: #394A5C;
    background-image: radial-gradient(50% 10%,50% 80%, #486784 5%, #394A5C 100%);

    strong {
      color: white;
    }
  }

  header {
    max-width: 65rem;
    margin: 0 auto 5rem;
    font-size: 1.8rem;
    line-height: 2.5rem;
    text-align: center;
  }
}

section.taxology-introduction {
  display: flex;
  padding: 0;
  justify-content: flex-end;
  background: url('/images/rotterdam-bg.jpg') no-repeat 50% 50% / cover;

  section {
    padding: 8%;
    min-width: 50%;
    background: white;
    @include smartphone {
      padding: 6rem;
    }
    .content {
      max-width: 40rem;

      img {
        max-width: 25rem;
        margin-bottom: 2rem;
      }
    }
  }
}
