---
  title: "Careers"
  body_classes: careers
  meta_description:
  meta_keywords:
---

%main{role: 'main'}
  %article
    %section
      .container.reading-width
        %h1 Careers

        %hr

        %h2 Sales & Business development manager

        %h3 The opportunity 
        %p
          Taxology offers a challenging opportunity for talented sales and business development professionals to further expand it customer base. Mid-career professionals can grow their career into senior/director level roles in business development and/or sales. Taxology has an open, innovative, creative, make-it-happen culture. We offer a flexible, informal and exciting working environment, with plenty of opportunities to grow as a professional and as an individual. We currently have an opening for a Sales & Business Development Manager for the North American (US/Canada) market

        %h3 Your role and responsibilities
        %p
          As Sales & Business Development Manager you will have significant impact on our growth and success. You will report directly to the CEO and CCO. The Sales & Business Development Manager will be responsible for creating new opportunities with our existing customer base, as well as developing and converting new opportunities into clients. The work is achieved in close cooperation with the marketing team.
        %p
          Your role responsibilities will include:
        %ul
          %li Identifying and contacting prospective clients in your region;
          %li Creating awareness of Taxology within our client target group;
          %li Help building and strengthening the Taxology name and brand;
          %li Managing the day-to-day business relationship between Taxology and (potential) customers;
          %li Communicate consistently with customers throughout the contract life cycle, identifying important issues where needed to support business development, and sales & marketing management;
          %li Develop new relationships in your region.;
          %li Nurture relationships with existing clients, as well as with potential opportunities in the region;
          %li Cultivate future projects and identify new opportunities in existing client base;
          %li Maintain relationships with partners in your region.

        %h3 Your profile
        %ul
          %li Native English speaker;
          %li Bachelor or University degree, and looking forward to pursuing a career with a fast growing fintech company;
          %li 8 - 15 years’ relevant experience (mid-career);
          %li Proven track-record in sales & business development for financial institutions (preferably gained with commercial banks, custody service providers to institutional investors, and/or securities brokers, and/or institutional investment managers);
          %li Smart: ability to understand customer business drivers and ability to establish buy-in at all levels (sales management, delivery leads and senior/executive management);
          %li Proven success in managing executive relationships with partners and/or customers;
          %li Ability to influence sales, marketing and delivery teams based on own and partner insights;
          %li Digital-minded and tech-savvy;
          %li Self-starter attitude;
          %li Exceptional organizational, presentation and communication skills, verbal and written in English;
          %li Ability to set clear targets and development plans. Set objectives to achieve those targets;
          %li After a period of introduction and getting acquainted with Taxology, the products and services set as well as the industry, this role will require travel in your market region;

        %h3 We offer
        %ul
          %li A challenging and exciting position;
          %li An opportunity to really contribute and put your personal signature on the growth and success of Taxology;
          %li A competitive and incentivized remuneration package.

        %h3 About Taxology
        %p
          Taxology has developed a state-of-the-art web-based automated global withholding tax recovery solution, named Protocol, for pension funds. We are a young, fast-growing and leading fintech company with a focus on tax and a global reach. We’ve always got room for new, creative or commercial talent to push us further. What can you bring to make us stronger?
