---
  title: "Careers"
  body_classes: careers
  meta_description:
  meta_keywords:
---

%main{role: 'main'}
  %article
    %section
      .container
        %h1 Careers
        .jobs
          %a.job{ href: "/about-us/sales-business-development-manager"}
            %h3 Sales & Business development manager
            %p
              Taxology offers a challenging opportunity for talented sales and business development professionals to further expand it customer base. Mid-career professionals can grow their career into senior/director level roles in business development and/or sales.
            %span
              Read more
              %span.icon-angle-right
          %a.job{ href: "/about-us/international-tax-specialist"}
            %h3 International tax specialist
            %p
              Taxology offers a challenging opportunity for talented and experienced international tax professionals to help scale and continuously improve its automated WHT recovery platform, and to help deliver the best-in-class associated tax advisory services to its pension fund clients.
            %span
              Read more
              %span.icon-angle-right
