---
  title: "International tax specialist"
  body_classes: careers vacancy
  meta_description:
  meta_keywords:
---

%main{role: 'main'}
  %article
    %section
      .container.reading-width
        %a.icon-angle-left{ href: "/about-us/careers"} back to careers
        %h1 International tax specialist

        %h3 The opportunity 
        %p
          Taxology offers a challenging opportunity for talented and experienced international tax professionals to help scale and continuously improve its automated WHT recovery platform, and to help deliver the best-in-class associated tax advisory services to its pension fund clients.
        %p
          Taxology has an open, innovative, creative, make-it-happen culture. We offer a flexible, informal and exciting working environment, with plenty of opportunities to grow as a professional and as an individual

        %h3 Your role and responsibilities
        %p
          As international tax specialist you will have significant impact on our growth and success. You will report directly to the Chief Executive Officer and Chief Technology Officer.
        %p Your role responsibilities will include:
        %ul
          %li Operating our software platform for our clients’ benefit on a daily basis in order to identify any and all WHT recovery opportunities, and file reclaims for opportunities identified;
          %li Working closely with our software developers to continuously develop, expand and improve our software platform (from a tax technical and tax content perspective);
          %li Follow up on reclaims filed (answer tax questionnaires from reclaim countries’ tax administrations, file objections and appeals in case of claims rejected, post refund assessments in clients’ PROTOCOL account);
          %li Managing the day-to-day business relationship between Taxology and its clients;
          %li Depending on your commercial skills and relationship management skills: join the sales and business development director on trips to meet prospective new pension fund clients.


        %h3 Your profile
        %ul
          %li Academic degree in tax law or tax economics
          %li 5 - 10 years of experience as a tax advisor with one of the Big Four and/or a large law firm, or as an inhouse tax counsel with a pension fund, other institutional investors (e.g. banks, insurance companies)  (mid-career), and/or custodian banks;
          %li Proven experience with WHT recovery;
          %li Digital-minded and tech-savvy;
          %li Self-starter attitude;
          %li Approach your work with the highest degree of accuracy;
          %li Excellent organizational, presentation and communication skills, verbal and written in English;
        %p
          Depending on your commercial skills and relationship management skills, this role will require regular travel throughout Europe and to North-America.

        %h3 We offer
        %ul
          %li A challenging and exciting position in a dynamic, innovative and young working environment
          %li An opportunity to really contribute and put your personal signature on the growth and success of Taxology.
          %li An attractive remuneration package

        %h3 About Taxology
        %p
          Taxology, established in The Netherlands in 2016, has developed a state-of-the-art web-based automated global withholding tax recovery platform, named <strong>Protocol</strong>, tailored to the specific requirements of pension funds. We are a young, fast-growing fintech company with a focus on tax and a global ambition.

        %h3 Interested?
        %p
          We’ve always got room for new, creative or commercial talent to push us further. What can you bring to make us stronger?
        %p
          Your place of work can be flexible (within reasonable limits) but our base is in Rotterdam, the Netherlands.
        %p
          Please send us your motivation for replying to this job opening and a copy of your resume (CV) by email to:
        %a.icon-envelope{ href: "mailto:info@taxology-global.com?subject=Application%3A%20International%20Tax%20specialist&body="} &nbsp; info@taxology-global.com
