body.request-demo {

  section {
    padding: 5% 0;
    background-image: linear-gradient(180deg, #FFFFFF 0%, #EDF1F6 100%);
  }

  form#subForm {
    background: white;
    box-shadow: 1rem 2rem 8rem rgba(black, 0.15);

    input, textarea {
      border-color: #ddd;
    }
  }
}


.protocol-brochure {
  position: relative;
  margin: 0 auto;
  display: block;
  width: 50rem;
  padding-left: 18rem;
  color: $body-font-color;
  text-align: left;
  height: 30rem;

  img {
    position: absolute;
    left: 0;
    width: 15rem;
  }
}
