html {
  font-size: 10px;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


body {
  width: 100%;
  font-size: 1.6rem;
  line-height: 2.2rem;
  color: $body-font-color;
  font-family: "Source Sans Pro", sans-serif;
  -webkit-font-smoothing: antialiased;

  @include smartphone {
    font-size: 1.8rem;
    line-height: 2.6rem;
  }
}