body {
  font-size: 1.5rem;
  line-height: 2.3rem;
  color: $body-font-color;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  @include smartphone {
    font-size: 1.6rem;
    line-height: 2.5rem;
  }
}

h1,
h2 {
  font-family: "Source Sans Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 300;
}

h1 {
  margin: 0 0 3rem;
  font-size: 6rem;
  line-height: 6rem;
  color: $heading-font-color;
  @include smartphone {
    font-size: 5rem;
    line-height: 5rem;
  }
  &.with-subtitle {
    margin-bottom: 1rem;
  }
  header & {
    font-size: 5rem;
    line-height: 5rem;
    @include smartphone {
      font-size: 4rem;
      line-height: 4rem;
    }
  }
}

h2 {
  margin: 0 0 1.6rem;
  font-size: 3.8rem;
  line-height: 3.8rem;
}

h3 {
  margin: 0 0 1.6rem;
  font-family: "Source Sans Pro", sans-serif;
  color: $heading-font-color;
  font-size: 2.4rem;
  line-height: 2.5rem;
  font-weight: 600;
  &.subtitle {
    margin-bottom: 2.5rem;
    font-weight: normal;
  }
}

h4 {
  margin: 2rem 0 0.5rem;
  color: $heading-font-color;
  font-size: 2rem;
  line-height: 2.4rem;
  font-weight: 600;
}

p {
  margin: 0 0 1.6rem;
  &.introduction {
    font-size: 1.9rem;
    line-height: 2.5rem;
  }

  em {
    color: black;
  }
}

strong {
  font-weight: 600;
  color: darken($body-font-color, 15);
}

a {
  color: $link-color;
  text-decoration: none;
  outline: 0;
  &:focus {
    outline: 0;
  }
}

article > section ul {

  li {
    margin-bottom: 1rem;
  }
}
