body.home h1,
body.home h2 {
  text-align: center;
}

h1,
h2 {
  font-weight: 300;
}

h1 {
  margin: 0 0 3rem;
  font-size: 4rem;
  line-height: 4rem;

  @include desktop {
    font-size: 5rem;
    line-height: 5rem;
  }
}

h2 {
  margin: 0 0 1.6rem;
  font-size: 3.6rem;
  line-height: 3.6rem;
}

h3 {
  margin: 0 0 1.6rem;
  color: $heading-font-color;
  font-size: 2.4rem;
  line-height: 2.5rem;
  font-weight: 600;
}

h4 {
  margin: 2rem 0 0.5rem;
  color: $heading-font-color;
  font-size: 2rem;
  line-height: 2.4rem;
  font-weight: 600;
}

p {
  max-width: 56rem;
  margin: 0 0 1.6rem;
  &.introduction {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  em {
    color: black;
  }
}

strong {
  font-weight: 600;
}

a {
  color: $link-color;
  text-decoration: none;
  outline: 0;
  &:focus {
    outline: 0;
  }
}

article > section ul {
  max-width: 56rem;

  li {
    margin-bottom: 1rem;
  }
}
