@mixin smartphone {
  @media screen and (max-width: 768px) { @content; }
}

@mixin desktop {
  @media screen and (min-width: 768px) {
    .mobile-hidden {
      display: none;
    }
    @content;
  }
}

main {
  min-height: calc(100vh - 43.1rem);
}

.container {
  max-width: 108rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 4rem;
  padding-right: 4rem;
  @include smartphone {
    padding-left: 8%;
    padding-right: 8%;
  }
}

.left-column,
.right-column {
  margin-bottom: 4rem;
}

@include desktop {
  .left-column,
  .right-column {
    width: calc(50% - 4rem);
  }

  .left-column {
    float: left;
    margin-right: 4rem;
  }
  .right-column {
    float: right;
  }
}
