$body-font-color:       #52585f;
$heading-font-color:    #394A5C;
$secondary-font-color:  #818A95;
$footer-font-color:     #ABBECF;
$link-color:            #3385E4;
$protocol-green:        #9CC421;
$footer-color:          #29394A;