---
  title: "Taxology: The Future of Tax"
  body_classes: about-us
  meta_description: Taxology is a software solutions company with a sole focus on developing technological solutions for international tax matters.
  meta_keywords:
---

%main{role: 'main'}
  %article
    %section.taxology-introduction
      %figure
      %section
        .content
          %img{ src: "/images/logos/taxology.svg", alt: "Taxology: The future of tax" }

          %p.introduction
            Taxology is a software solutions company with a sole focus on developing technological solutions for international tax matters.
          %p
            Based in the Netherlands, Taxology develops and deploys cutting edge technology, including Artificial Intelligence (AI) and blockchain to support its software solutions.
          %p
            For pension funds and pension investment managers seeking to increase WHT recovery at significantly reduced cost and effort, Taxology has developed its web based software platform Protocol.
          %p
            Unlike other WHT recovery tools on offer, Protocol does not just help you organize your WHT recovery processes. It actually automates the entire process, from raw data collection and processing, to identification of recovery entitlements, and all the way through to filing fully prepared reclaims.

    %section
      .container.reading-width

        %h2 Taxology’s mission

        %h4 Automated WHT recovery for pension funds

        %p
          Because of their important public interest function, pension funds have stronger WHT recovery entitlements than any other (institutional) investor. And yet, getting a solid grip on global WHT recovery is very difficult: recovery entitlements are easily overlooked as they are far from transparent, and recovery procedures are complex, burdensome and different in every country.

        %p
          Even though workflow processes are often put in place between pension funds and their asset managers, custodians and tax advisors, these processes have inherent limitations in communication, coordination and centralized responsibility. Moreover, the actual work involved in WHT recovery is still done mostly manually, making it slow, reactive rather than pro-active, costly, and prone to human error. As a result, pension funds are missing out on recovery opportunities, every year, and on a very large scale.

        %p
          The only way to really solve this issue is to truly and fully automate claims identification, preparation and filing, in other words the entire recovery process. With this clear mission in mind, Taxology started developing its WHT recovery software platform Protocol in 2016. After extensive testing with pension funds in the second half of 2017, Protocol went live for two large North American pension asset managers and their pension fund clients in December 2017. By the second quarter of 2018, Protocol had already recovered over EUR 3 million.
