---
  title: "Taxology: The Future of Tax"
  body_classes: about-us
  meta_description:
  meta_keywords:
---

%main{role: 'main'}
  %article
    %section
      .container
        %h1 About us

        %h2 Taxology
        %p.introduction
          Taxology (www.taxology.nl) is a Dutch fintech start-up, established in 2016 by Jeroen van der Wal and the CAAPA Group.
        %p
          Jeroen is an experienced international tax adviser and has advised many pension funds on optimizing their global withholding tax ("WHT"​) recovery.
          The CAAPA Group is an accomplished IT solutions company which has set up several successful companies based on software platforms.

    %section.core-values
      .container
        %h2 Core values

        .values
          .value
            %figure
            %h4 Value 1
            %p
              Value description
          .value
            %figure
            %h4 Value 1
            %p
              Value description
          .value
            %figure
            %h4 Value 1
            %p
              Value description

    %section
      .container

        %h2 Taxology’s mission

        %h4 Automated WHT recovery for pension funds

        %p
          Because of their important public interest function, pension funds have stronger WHT recovery entitlements than any other (institutional) investor. And yet, getting a solid grip on global WHT recovery is very difficult: recovery entitlements are easily overlooked as they are far from transparent, and recovery procedures are complex, burdensome and different in every country.

        %p
          Even though workflow processes are often put in place between pension funds and their asset managers, custodians and tax advisors, these processes have inherent limitations in communication, coordination and centralized responsibility. Moreover, the actual work involved in WHT recovery is still done mostly manually, making it slow, reactive rather than pro-active, costly, and prone to human error. As a result, pension funds are missing out on recovery opportunities, on a large scale.

        %p
          It became abundantly clear that the only way to really solve this issue was to truly and fully automate claims identification, preparation and filing, in other words the entire recovery process. With this clear mission in mind, we started developing our WHT recovery software platform Protocol in 2016. After extensive testing with pension funds in the second half of 2017, Protocol went live for two large North American pension asset managers and their pension fund clients in December 2017
