---
  title: "Automated WHT recovery"
  body_classes: home
  meta_description:
  meta_keywords:
---

%main{role: 'main'}
  %article

    %section.protocol-introduction
      .container
        .logo-with-sub
          %img{ src: "/images/logos/protocol.svg", alt: "Protocol: Automated WHT recovery" }
          %h4 Automated withholding tax recovery
          %p.introduction
            Protocol is a web based software platform that minimizes the time, effort, and expense required for preparing and filing WHT refund claims, while at the same time increasing the WHT recovery revenue.
        .screenshot
    %section.usps
      .container
        .usp
          %img{ src: "/images/icon-time.svg" }
          %h3
            Effortless and efficient
          %p
            Checking for claims, and filing claims becomes a matter of hours instead of days or weeks.
        .usp
          %img{ src: "/images/icon-rocket.svg" }
          %h3
            Improved WHT recovery
          %p
            Even small claims are now worth pursuing, your recovery performance will improve noticeably.
        .usp
          %img{ src: "/images/icon-calendar.svg" }
          %h3
            Always in control
          %p
            Stay up to date with real-time claims status overview, team task assignment and activity log books.

      .container.call-to-action
        %a.button.button-protocol-primary{ href: "/protocol/" }
          Read more about Protocol

    %section.taxology-introduction
      %section
        .content
          %img{ src: "/images/logos/taxology.svg", alt: "Taxology: The future of tax" }

          %p.introduction
            Taxology is a Dutch fintech start-up, established in 2016 by Jeroen van der Wal and the CAAPA Group.
          %p
            Jeroen is an experienced international tax adviser and has advised many pension funds on optimizing their global withholding tax (“WHT”​) recovery.
          %p
            The CAAPA Group is an accomplished IT solutions company which has set up several successful companies based on software platforms.

          %a.button.button-taxology-primary{ href: "/about-us/" }
            Read more about Taxology

    %section#request-demo
      .container
        %header
          %h2
            Interested in
            %strong automated
            WHT recovery?

        = partial "partials/request-form"
