---
  title: "Automated WHT recovery"
  body_classes: home
  meta_description:
  meta_keywords:
---

%main{role: 'main'}
  %article

    %section.usps
      .container
        .usp
          %img{ src: "/images/icon-time.svg" }
          %h3
            Effortless and efficient
          %p
            Protocol takes the effort and inefficiencies out of WHT recovery. Checking for claims, and filing claims becomes a matter of hours instead of days or weeks.
        .usp
          %img{ src: "images/icon-rocket.svg" }
          %h3
            Improved WHT recovery
          %p
            Protocol reduces the cost per claim to the bare minimum. No claim will go unnoticed and even small claims are now worth pursuing, so your recovery performance will improve noticeably.
        .usp
          %img{ src: "/images/icon-calendar.svg" }
          %h3
            Always in control
          %p
            Protocol’s special features like claim expiration date warnings, real-time claims status overview,  team task assignment and activity log book give you full control.

    %section#about-protocol
      .container

        %h2 About Protocol

        %p.introduction
          Protocol is a web based software platform that automates worldwide withholding tax (“WHT”) recovery. It is a cloud solution, securely accessible from any place in the world that has an internet connection.

        %h4 For whom did we design Protocol?
        %p
          Protocol has been designed for pension investment managers.

        %h4 Why did we design Protocol?
        %p
          Tax administrations around the world are unable to agree on uniform and standard WHT recovery procedure for pension funds. The legal entitlements to reduction or refund of WHT, the recovery procedure, the documentation requirements and the statutes of limitations are different in every country, and change periodically. This makes it virtually impossible for pension investment managers to get a solid grip on WHT recovery for their clients. As a result, these clients are missing out on WHT refund opportunities, on a very large scale. Our extensive and in-depth experience in WHT recovery for pension funds has shown us the path to the solution to this problem: Protocol

    %section#features
      .container
        %header
          %h2 Features
          %p
            Protocol intuitively guides pension funds through automated worldwide WHT recovery. Depending on whether or not investments are pooled, the recovery process comprises three or four steps.

        = partial("partials/features")

    %section#request-demo
      .container
        %header
          %h2
            Interested in
            %strong automated
            WHT recovery?
          %p
            Protocol is  a two-edged sword that minimizes the time, effort, and expense required for preparing and filing WHT refund claims, while at the same time increasing the WHT recovery revenue.

        %form#subForm{:action => "http://vmarketing.voormedia.com/t/r/s/kydljuj/", :method => "post"}
          %input#fieldName{:name => "cm-name", :type => "text", :placeholder => "Your name"}/
          %input#fieldEmail{:name => "cm-kydljuj-kydljuj", :required => "", :type => "email", :placeholder => "Your email-address"}/
          .check-boxes
            %label{:for => "fieldtitjwyu-0"}
              %input#fieldtitjwyu-0{:checked => "checked", :name => "cm-fo-titjwyu", :type => "checkbox", :value => "8268962"}/
              I would like to see a
              %strong demo
            %label{:for => "fieldtitjwyu-1"}
              %input#fieldtitjwyu-1{:name => "cm-fo-titjwyu", :type => "checkbox", :value => "8268963"}/
              I would like to receive a (digital)
              %strong brochure

          %input( type="submit" value="submit")

