---
  title: "Automated WHT recovery"
  body_classes: home
  meta_description:
  meta_keywords:
---

%main{role: 'main'}
  %article

    %section.usps
      .container
        .usp
          %img{ src: "/images/icon-time.svg" }
          %h3
            Effortless and efficient
          %p
            Protocol takes the effort and inefficiencies out of withholding tax (WHT) recovery. Checking for claims, and filing claims becomes a matter of hours instead of days or weeks.
        .usp
          %img{ src: "images/icon-rocket.svg" }
          %h3
            Improved WHT recovery
          %p
            Protocol reduces the cost per claim to the bare minimum. No large claim will go unnoticed and even small claims are now worth pursuing, so your recovery performance will improve noticeably.
        .usp
          %img{ src: "/images/icon-calendar.svg" }
          %h3
            Always in control
          %p
            Protocol’s special features like claim expiration date warnings, real-time claims status overview,  team task assignment and activity log book give you full overview and control.

    %section#about-protocol
      .container

        %h2 About Protocol

        %img{ src: "/images/protocol-logo-highres.png", alt: "Protocol: Automated WHT recovery" }

        %p.introduction
          Protocol is a web based software platform that standardizes and automates the world wide withholding tax (“WHT”) recovery process for pension funds.
          -# It is a cloud solution, accessible from any place in the world that has an internet connection.

        %h4 Why did we design Protocol?
        %p
          Seven years of active service in WHT recovery for pension funds have shown us an increasing demand for automated WHT recovery. This demand is fueled by the inability of tax administrations around the world to harmonize WHT recovery procedures. The procedure, entitlements, conditions, documentation requirements and statues of limitations are different in almost every country, which makes it virtually impossible for pension funds to get a solid grip on their WHT recovery. This makes WHT recovery a complex, burdensome and costly exercise. As a result, pension funds are missing out on WHT refund opportunities, on a massive scale. Our extensive and in-depth experience in WHT recovery has shown us the path to the solution to this problem: Protocol

        %h4 For whom did we design Protocol?
        %p
          We designed Protocol specifically for pension funds and their portfolio investments (shares and bonds). Portfolio investments of pension funds have a WHT profile that is distinct from any other type of investor and investment. For that reason, Protocol is not (yet) available for other types of investors than pension funds, nor for investments other than portfolio investments.

        -# %p
        -#   Because of the sheer size of pension funds and their investments, the amounts of unclaimed WHT are very substantial, which makes the added value of using Protocol self-evident.



    %section#features
      .container
        %header
          %h2 Features
          %p
            Protocol standardizes and automates the WHT recovery process up to the point of filing claims. Depending on whether or not investments are pooled, Protocol guides you through this three step, or - if investments are pooled - four step process.

        = partial("partials/features")

    %section#request-demo
      .container
        %header
          %h2
            Interested in
            %strong automated
            WHT recovery?
          %p
            Protocol is  a two-edged sword that minimizes the time, effort, and expense required for preparing and filing WHT refund claims, while at the same time increasing the WHT recovery revenue.

        %form#subForm{:action => "http://vmarketing.voormedia.com/t/r/s/kydljuj/", :method => "post"}
          %input#fieldName{:name => "cm-name", :type => "text", :placeholder => "Your name"}/
          %input#fieldEmail{:name => "cm-kydljuj-kydljuj", :required => "", :type => "email", :placeholder => "Your email-address"}/
          .check-boxes
            %label{:for => "fieldtitjwyu-0"}
              %input#fieldtitjwyu-0{:checked => "checked", :name => "cm-fo-titjwyu", :type => "checkbox", :value => "8268962"}/
              I would like to see a
              %strong demo
            %label{:for => "fieldtitjwyu-1"}
              %input#fieldtitjwyu-1{:name => "cm-fo-titjwyu", :type => "checkbox", :value => "8268963"}/
              I would like to receive a (digital)
              %strong brochure

          %input( type="submit" value="submit")

