---
  title: "Insights"
  body_classes: insights
  meta_description:
  meta_keywords:
---

%main
  %section.insights
    .container
      %h2 Insights
      - blog.articles.each do | article |
        %a{ href: "/insights/#{article.title.split(" ").join("-").downcase}/" }
          %h3= article.title
