---
  title: "Protocol: Automated WHT recovery"
  body_classes: protocol
  meta_description:
  meta_keywords:
---

%main{role: 'main'}
  %article
    %section.protocol-introduction
      .container
        .logo-with-sub
          %h2 Automated withholding tax recovery
          %p.introduction
            Protocol is a web based software platform that minimizes the time, effort, and expense required for preparing and filing WHT refund claims, while at the same time increasing the WHT recovery revenue.
        .screenshot
    %section.usps
      .container
        .usp
          %img{ src: "/images/icon-time.svg" }
          %h3
            Faster claim filing
          %p
            Checking for claims, and filing claims becomes a matter of hours instead of days or weeks
        .usp
          %img{ src: "/images/icon-costs.svg" }
          %h3
            Reduce cost per claim
          %p
            Automation makes for reduced cost per claim filing
        .usp
          %img{ src: "/images/icon-rocket.svg" }
          %h3
            Pursue the small claims
          %p
            Smaller claims become worth pursuing due to reduced time and costs
        .usp
          %img{ src: "/images/icon-cloud.svg" }
          %h3
            Secure cloud based access
          %p
            Protocol is a web based platform, accessible from any place in the world
        .usp
          %img{ src: "/images/icon-small.svg" }
          %h3
            Improved claim quality
          %p
            Protocol validates data before importing, your claims will improve noticably
        .usp
          %img{ src: "/images/icon-calendar.svg" }
          %h3
            Track claim status in real time
          %p
            Stay up to date with real-time claims status overview, team task assignment and activity log books

    %section.features
      .container
        %header
          %h2 Features
          %p
            Protocol intuitively guides pension investment managers through automated global WHT recovery.

        = partial("partials/features")

    %section.assurance
      .container
        %header
          %h2 Assurance and compliance features
          %p Protocol’s open software architecture allows you to integrate and reconcile data with your own ERP software

        %section
          %ul.check-list
            %li.icon-check
              %h4 Data exports
              Processed data can be extracted by automated exports or by connecting Protocol with your administrative software through API’s.
            %li.icon-check
              %h4 Realtime overview
              Protocol shows a real-time status overview of WHT refund claims, per country per claim year, which can easily be downloaded.
            %li.icon-check
              %h4 Audit proof
              Your WHT reclaim file is always audit proof and audit ready. Protocol’s data analysis reduces the risk of errors and improves the quality of claims.
            %li.icon-check
              %h4 Notifications
              Protocol will issue notifications whenever a WHT recovery claim is set to expire under any given statute of limitations.
            %li.icon-check
              %h4 User management
              Protocol offers multiple user accounts with specific access roles
            %li.icon-check
              %h4 Logbook
              All application and user activities are logged into a logbook, which is available per claim.

    %section#request-demo
      .container
        %header
          %h2
            Interested in
            %strong automated
            WHT recovery?

        = partial "partials/request-form"
