---
  title: "Taxology - Request a demo"
  body_classes: request-demo
  meta_description:
  meta_keywords:
---

%main{role: 'main'}
  %article
    %section
      .container
        %header
          %h2
            Interested in
            %strong automated
            WHT recovery?
          %p
            Protocol is a two-edged sword that minimizes the time, effort, and expense required for preparing and filing WHT refund claims, while at the same time increasing the WHT recovery revenue.

          %p For more information or a guided demo, please use the contact form below.

        = partial "partials/request-form"
