---
  title: Request sent
  body_classes: page
  meta_description:
  meta_keywords:
    - example
    - keywords
---

%main{role: 'main'}
  %article
    %section
      %header
        .container
          %h2 Your request has been sent successfully

          %p
            We will get in touch with you as soon as possible.

          %a( href="/" )
            Return to homepage
