---
  title: Security policy
  body_classes: page
  meta_description:
  meta_keywords:
    - example
    - keywords
---

%main{role: 'main'}
  %article
    %section
      .container
        %h1 Security policy

        We take security seriously. Our applications are designed with security in mind.

        %ul
          %li
            Access to your environment is always protected by a secure connection (HTTP with Transport Layer Security). You can verify this by looking for the padlock icon in your browser when you sign into your Protocol account.
          %li
            Information that you upload is only accessible to your organisation and to our service support staff. We will not share your data with other parties other than our service providers.
          %li
            Our systems and network infrastructure have been designed to be secure against attackers. Authorized access to the network and servers is only possible through a secure Virtual Private Network (VPN).
          %li
            The security of the network and servers is regularly reviewed and updated according to industry best practices.
          %li
            Our infrastructure is hosted at Amazon Web Services (AWS). Amazon takes the security of their services very seriously. You can read more about their security measures at
            %a( href="https://aws.amazon.com/security/" ) https://aws.amazon.com/security/
            \.

        %h4
          Contact Us
        %p
          If you have any questions about this security policy, please
          %a( href="/#contact" ) contact us
