---
  title: Terms and conditions
  body_classes: page
  meta_description:
  meta_keywords:
    - example
    - keywords
---

%main{role: 'main'}
  %article
    %section
      .container
        %h1 Terms and conditions

        %h3 Hoofdstuk 1
        %p=lorem.paragraph

        %h3 Hoofdstuk 2
        %p=lorem.paragraph
        %p=lorem.paragraph

        %h3 Hoofdstuk 3
        %p=lorem.paragraph

        %h3 Hoofdstuk 4
        %p=lorem.paragraph
        %p=lorem.paragraph