form#subForm {
  max-width: 55rem;
  margin: 3rem auto;
  padding: 3.5rem 4rem;
  background: $heading-font-color;
  border-radius: 1rem;
  font-size: 2rem;
  line-height: 2.5rem;
  text-align: center;
  @include clearfix;
  @include smartphone {
    padding: 5%;
  }

  button {
    margin-top: 2rem;
    width: 100%;
    @include desktop {
      float: right;
      width: auto;
    }
  }

  .check-boxes {
    text-align: left;
    @include desktop {
      float: left;
      max-width: 60%;
    }

    p {
      margin: 1rem 0;
      font-size: 1.8rem;
    }

    label {
      position: relative;
      margin: 1rem 0;
      padding-left: 3rem;
    }

    input {
      position: absolute;
      top: -0.5rem;
      margin-left: -3rem;
    }
  }
}
