section.usps {

  .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: top;
    margin-bottom: 3rem;
  }

  .logo-with-sub {
    img {
      max-width: 25rem;
    }

    p {
      max-width: 60rem;
    }
  }

  .usp {
    position: relative;
    margin: 0 2rem 3rem;
    padding-left: 6rem;
    max-width: 40rem;

    img {
      position: absolute;
      left: 0;
      width: 4rem;
    }

    p {
      color: $secondary-font-color;
    }

    @include desktop {
      width: calc(100% / 3 - 4rem);
    }
  }

  .call-to-action {
    justify-content: center;
  }
}
